/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace component "pl.pkpik.epdp7.eventtimeline.view.component.*";

@font-face { 
	src: url("/assets/fonts/din_bold.ttf");
	fontFamily: DinBold;  
	unicode-range:
		U+0020-U+0040, /* Punctuation, Numbers */
		U+0041-U+005A, /* Upper-Case A-Z */
		U+005B-U+0060, /* Punctuation and Symbols */
		U+0061-U+007A, /* Lower-Case a-z */
		U+0104-U+0107, /* Ą ą Ć ć */
		U+0118-U+0119, /* Ę ę */
		U+0141-U+0144, /* Ł ł Ń ń */
		U+015A-U+015B, /* Ś ś */
		U+0179-U+017C, /* Ź ź Ż ż */
		U+00D3, /* Ó */
		U+00F3, /* ó */
		U+007B-U+007E; /* Punctuation and Symbols */
	embedAsCFF: true;
}

@font-face { 
	src: url("/assets/fonts/din_medium.ttf");
	fontFamily: DinMedium;   
	unicode-range:
		U+0020-U+0040, /* Punctuation, Numbers */
		U+0041-U+005A, /* Upper-Case A-Z */
		U+005B-U+0060, /* Punctuation and Symbols */
		U+0061-U+007A, /* Lower-Case a-z */
		U+0104-U+0107, /* Ą ą Ć ć */
		U+0118-U+0119, /* Ę ę */
		U+0141-U+0144, /* Ł ł Ń ń */
		U+015A-U+015B, /* Ś ś */
		U+0179-U+017C, /* Ź ź Ż ż */
		U+00D3, /* Ó */
		U+00F3, /* ó */
		
		U+007B-U+007E; /* Punctuation and Symbols */
	embedAsCFF: true;
}

.gradientlines {
	spinner-type: gradientlines;
	spinner-color: #ffffff;
	spinner-highlight-color: #000000;
}

.circles {
	spinner-type: circles;
}

.lines {
	spinner-type: lines;
	spinner-highlight-color: #000000;
	spinner-color: #808080;
}

component|Toast
{
    skinClass: ClassReference("pl.pkpik.epdp7.eventtimeline.view.skin.ToastSkin");
    contentBackgroundColor: #000000;
    contentBackgroundAlpha: 0.9;
    strokeColor: #FFFFFF;
    strokeAlpha: 0.65;
    cornerRadius: 0;
    color: #FFFFFF;
    fontSize: 14;
    fontFamily: DinMedium;
}


component|CustomToolTip {
	color: "#ffffff";
	chromeColor: "0x126ccf";
	fontSize: 12px;
	maxWidth: 100px;
}


component|CustomToolTip s|Label {
	fontFamily: "DinMedium";
	color: #ffffff;
	chromeColor: "0x20a0c0";
	fontSize: 12px;
}

component|CustomToolTip.errorTip {
	color: "#f8f8f8";
	chromeColor: "0xe02010";
}

s|Label {
	fontFamily: "DinMedium";
    fontSize: 12px;
}
s|RichText {
    fontFamily: "DinMedium";
    fontSize: 12px;
}
s|TextArea {
	skinClass: ClassReference("pl.pkpik.epdp7.eventtimeline.view.skin.TextAreaSkinLineNumbers");
	borderVisible: false;
	color: "0x333333";
	fontFamily: "DinMedium";
	fontSize: 14px;
}
component|DataProcessingInfo {
	skinClass: ClassReference("pl.pkpik.epdp7.eventtimeline.view.skin.DataProcessingInfoSkin");
    borderVisible: false;
}
.dinField {
    fontFamily: "DinMedium";
    fontSize: 12px;
}
